<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.name }}{% if content %} &gt; {{ content.title }}{% endif %}</title>
    </head>
    <body>
        {% block content %}{% endblock content %}
        <hr/>
        <div class="footer">
            {{ footer | render }}
        </div>
    </body>
</html>
